.main_third_container{
    width: 1139px;
    height: 1026px;
    padding-top: 150px;
    padding-left: 220px;
}

.title_for_third_container{
    position: absolute;
    width: 584px;
    height: 160px;
    padding-top: 0px;
    left: 509px;
    text-align: center;
    align-items: center;
}
.third_main_title{
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: #212353;
}
.third_main_paragraph{
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
}
.third_container1{
    background-image: url("../images/Rectangle 39.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
    width: 531px;
    height: 388px;
    left: 240px;
    top: 1843px;
    position: absolute;
}
.third_container2{
    background-image: url("../images/Rectangle 41.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
    width: 546px;
    height: 394px;
    top: 1843px;
    left: 813px;
    position: absolute;
}
.third_container3{
    background-image: url("../images/Rectangle 40.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
    width: 550px;
    height: 358px;
    position: absolute;
    top: 2281px;
    left: 220px;
}
.third_container4{
    background-image: url("../images/Rectangle 42.svg");
    background-position: right top;
    background-repeat: no-repeat;
    width: 539px;
    height: 364px;
    position: absolute;
    top: 2275px;
    left: 818px;
}
.im_c1{
    padding-top: 73px;
}
.im_c2{
    padding-top: 72px;
}
.im_c3{
    padding-top: 123px;
}
.im_c4{
    padding-top: 84px;
}
.header_third_container1{
    position: absolute;
    width: 200px;
    height: 50px;
    top: 49px;
    left: 250px;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    text-align: left;
    color: #212353;
}
.paragraph_third_container1{
    position: absolute;
    width: 220px;
    height: 160px;
    top: 120px;
    left: 250px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}
.header_third_container2{
    position: absolute;
    width: 200px;
    height: 50px;
    top: 49px;
    left: 250px;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    text-align: left;
    color: #212353;
}
.paragraph_third_container2{
    position: absolute;
    width: 220px;
    height: 160px;
    top: 120px;
    left: 250px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;

}
.header_third_container3{
    position: absolute;
    width: 200px;
    height: 50px;
    top: 49px;
    left: 250px;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    text-align: left;
    color: #212353;
}
.paragraph_third_container3{
    position: absolute;
    width: 220px;
    height: 160px;
    top: 120px;
    left: 250px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}
.header_third_container4{
    position: absolute;
    width: 200px;
    height: 50px;
    top: 49px;
    left: 250px;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    text-align: left;
    color: #212353;
}
.paragraph_third_container4{
    position: absolute;
    width: 220px;
    height: 160px;
    top: 120px;
    left: 250px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}
.text_for_containers{
    position: absolute;
    width: 180px;
    height: 26px;
    top: 300px;
    left: 250px;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #212353;

}
.Vector56{
    position: absolute;
    width: 250px;
    height: 150px;
    border: 1.5px;
    rotate: revert;
    left: 280px;
    top: 60px;

}
.Vector56-2{
    position: absolute;
    width: 400px;
    height: 200px;
    border: 1.5px;
    rotate: -45deg;
    padding-left: 150px;
    padding-top: 230px;
}
.Elipce{
    position: absolute;
    width: 68px;
    height: 40px;
    top: 22px;
    left: 420px;
    border: 1.5px;
    rotate: 150deg;

}
.Vector56-3{
    position: absolute;
    width: 323px;
    height: 188px;
    top: 10px;
    left: 150px;
    border: 1.5px;
    rotate: 115deg;

}