
.footer_title{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.footer_buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_information{
    display: flex;
    justify-content: space-between;
}
.footer_request_demo{
    margin-right: 10px;
    display: inline-block;
    background: #FFFFFF;
    width: 210px;
    height: 60px;
    font-weight: 600;
    border-radius: 50px;
    box-shadow: 0px 5px 5px 0px #4B5D681A;
    font-size: 16px;
    letter-spacing: 0.005em;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    color: #212353;
    cursor: pointer;
    border-color: #FFFFFF;
}
.footer_request_demo .arrow {
    margin-left: 10px;
}

.footer_request_demo {
    transition: transform 0.3s ease;
}

.footer_request_demo:hover {
    transform: translateY(-5px);
}

.arrow {
    transition: transform 0.3s ease;
    display: inline-block;
    margin-left: 10px;
}

.footer_request_demo:hover .arrow {
    transform: rotate(90deg);
}
.footer_learn_button{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    border-radius: 50px;
    background: #F063B8;
    color: #ffffff;
    border: none;
    width: 170px;
    height: 60px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

@media (max-width: 580px) {
    .footer_buttons{
        display: flex;
        flex-direction: column ;
        align-items: center;
        justify-content: center;
    }
    .footer_request_demo{
        margin-bottom: 5px;
    }
    
}