
.second-container {
    width: 70%;
    display: flex;
    margin: 0 auto;
    background-image: url("../images/Rectangle 34.svg");
    background-repeat: no-repeat;
    background-position:left;
    align-items: center;
    border-radius: 50px;
    flex-direction: row;
}

.second-container_image {
    max-width: 100%;
    height: auto;
}

.second_title {
    color: #212353;
    margin-top: 0;
}

.second_paragraph {
    margin-bottom: 0;
}

@media (max-width: 905px) {
    .second_section {
        padding-left: 0px;
    }

    .second-container {
        padding: 20px;
}
@media (max-width: 905px) {
    .second-container .second-container_image {
        display: none;
    }

    .second-container {
        flex-direction: column;
        align-items: center;
    }

    .second_title, .second_paragraph {
        text-align: center;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}}

