
.grid_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    align-content: center;
    width: 100%;
}
.title_for_third_container{
    text-align: center;
}
.third_main_title{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 52px;
    color: #212353;
}
.third_main_paragraph{
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
}
.paragraph_third_container1,
.paragraph_third_container2,
.paragraph_third_container3,
.paragraph_third_container4{
    width: 220px;
    height: 160px;
}
.third_container1{
    display: flex;
    background-image: url("../images/Rectangle 39.svg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
}
.third_container2{
    display: flex;
    background-image: url("../images/Rectangle 40.svg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
}
.third_container3{
    display: flex;
    background-image: url("../images/Rectangle 41.svg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
}
.third_container4{
    display: flex;
    background-image: url("../images/Rectangle 42.svg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
}
@media (max-width: 945px) {
    .text{
        justify-items: center;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .grid_container {
        grid-template-columns: 1fr;
        width: 100%;
        justify-content: center;
        left: 50%;
        row-gap: 50px;
    }
    .third_container1,
    .third_container2,
    .third_container3,
    .third_container4{
        justify-content: center;
    }
    .header_third_container1,
    .header_third_container2,
    .header_third_container3,
    .header_third_container4 {
        font-size: 1.5rem;
        text-align: center;
    }

    .paragraph_third_container1,
    .paragraph_third_container2,
    .paragraph_third_container3,
    .paragraph_third_container4 {
        font-size: 1rem;
        line-height: 1.5;
        text-align: center;
        width: auto;
        height: auto;
    }
    .im_c1,
    .im_c2,
    .im_c3,
    .im_c4{
        display: none;
    }
    .button_for_containers{
        text-align: center;
    }
}


