body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}


.header-controls input {
    flex: 2;
    border: none;
    border-radius: 5px;
}

.header-controls button {
    flex: 1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

main {
    padding: 20px 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.expenses {
    display: flex;
    align-items: center;
    gap: 10px;
}

.expenses span {
    margin-left: 10px;
    font-weight: bold;
}


label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
textarea,
input[type="number"],
select,
button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#aircraft_list {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    border-radius: 5px;
    position: relative;
}
#sort_button{
    width: 20%;
}
.main{
    align-items: center;
    justify-content: center;
}


